@model HizliFaturalama.ViewModels.ShowInvoice
<header>
    <link href="~/css/site.css" rel="stylesheet" />
</header>
<div class="container">
    <form asp-action="CreateInvoicePost" method="post" class="invoice-form">
        <div style="display:flex; justify-content: space-between; gap:24px;">
            <div class="form-group">
                <label>Fatura No</label>
                <input type="text" value="@Model.InvoiceNo" readonly />
            </div>

            <div class="form-group">
                <label>Tarih</label>
                <input type="text" value="@Model.RecordDate" readonly />
            </div>
        </div>

        <div class="form-group customer-display">
            <div>
                <label>Müşteri</label>
                <input type="text" value="@Model.CustomerName" readonly />
            </div>
        </div>

        <table id="invoceTable">
            <thead>
                <tr>
                    <th>Malzeme Adı</th>
                    <th>Birimi</th>
                    <th>Miktarı</th>
                    <th>Birim Fiyatı</th>
                    <th>Toplam Fiyat</th>
                </tr>
            </thead>
            <tbody id="invoiceItems">
                @foreach(var items in Model.invoiceLines){
                    <tr>
                        <td>@items.ItemName</td>
                        <td>@items.Unit</td>
                        <td>@items.Quantity</td>
                        <td>@items.Price</td>
                        <td>@(items.Quantity * items.Price)</td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="total-section">
            <label>Fatura Toplamı</label>
            <input type="text" value="@Model.TotalAmount" readonly style="width: 150px" />
        </div>
    </form>
</div>